/*------------------------------------------------*/
/*------------------[BLOCKS]----------------------*/
/*------------------------------------------------*/

.u-BannerFigure { margin: 0; }

.BannerHeader {

	figure {
		padding-right: .8rem;
		float: left;
		width: 75%;

		img {
			width: 100%;
		}
	}
}

.Banner-slider {
	padding: 0.8rem 0.3rem;

	figure {
		margin: 0;
	}
}

.BannerMonero {
	padding-left: .5rem;
	float: left;
	width: 33%;

	figure {
		margin: 0;
	}
}

.BannerNoticias {
	/*border-bottom: 2px #CBCBCB solid;*/

	figure {
		margin: 0;
		padding: 1rem;
	}
}

.BannerSidebar {
	padding: 1rem .5rem;
}