/*------------------------------------------------*/
/*------------------[	]----------------------*/
/*------------------------------------------------*/

.ColumnistasDestacados {
	background: #9C9C9C;

	.wrapper {
		width: 1200px;
		display: block;
		margin: 0 auto;
		padding: 0 4rem;

		h3 {
			background: #4A4A4A;
			margin: 0;
			padding: .5rem;
			color: white;
		}
		#cover-slider-columnistas {
			margin: 0;
			border: none;
			background: inherit;

			.ColumnistasDestacados-nombre {
				margin: 0;
				background: #BFBFBF;
				padding-left: 2rem;
			}
		}
	}

}