/*------------------------------------------------*/
/*------------------[	]----------------------*/
/*------------------------------------------------*/

.ColumnistasDestacados {
	background: #9C9C9C;
	@media (max-width: $smaller-width) {
		display: none;
	}
	
	h4 {
		background: #4A4A4A;
		color: #EAEAEA;
		margin: 0;
		text-align: center;
		padding: .3rem 0;
		font-size: 1.6rem;
	}
	.wrapper {
		display: block;
		margin: 0 auto;
		width: 1200px;
		@media (max-width: $tablet-width) {
			width: 100%;
		}
		/*padding: 0 .8rem;*/

		#cover-slider-columnistas { background: #9C9C9C; border: none; margin: 0; }

		li {
			text-align: center;
			@media (max-width: $tablet-width) {
			}

			figure {
				background: #EBEBEB;
				width: 100%;
				display: block;
				text-align: center;

				i {
					color: #9C9C9C;
					font-size: 13rem;
				}
			}
			
			h2,h3 { margin: 0; padding: .4rem 0 .4rem .3rem; }

			.ColumnistasDestacados-nota {
				color: #FEFEFE;
				font-size: 1.5rem;
				font-weight: bold;
			}

			.ColumnistasDestacados-nombre {
				color: #C5C5C5;
				font-size: 1rem;
				font-weight: bold;
			}
		}
	}
}