/*------------------------------------------------*/
/*------------------[MONERO Y VIDEOS]-------------*/
/*------------------------------------------------*/

.RotatorioVideos {
	float: left;
	width: 33%;

	#cover-slider-videos { margin: 0; border-top: none; padding-right: .4rem}

	.RotatorioVideos-caption {
		padding: .3rem 0;
		position: relative;
		text-align: center;
		background: #C3C3C3;
		margin: -5rem 0 0 0;
	}

	.flex-control-nav {
		position: relative;
		bottom: 0;
		padding-top: 1.35rem;
		padding-bottom: 1rem;
		background: #8A8A8A;
	}
}

.Monero {
	padding: 0 .6rem 0 .5rem;
	float: left;
	width: 33%;
	/*background: #C2C2C2;*/

	.Monero-figure {
		margin: 0;
		line-height: 0;

		.Monero-caption {
			background: #C2C2C2;
			padding: .5rem 0;
			margin-top: -2.4rem;
			position: relative;
			z-index: 1;

			.Monero-botonMas {
				background: #4A4A4A;
				text-align: center;
				width: 80%;
				margin: 0 auto;
				display: block;
				border-radius: 3px;
				color: white;
				font-weight: bold;
			}
		}
	}
}

