/*------------------------------------------------*/
/*------------------[MONERO Y VIDEOS]-------------*/
/*------------------------------------------------*/

.RotatorioVideos {
	float: left;
	width: 33%;
	@media (max-width: $tablet-width) {
		width: 50%;
	}
	@media (max-width: $smaller-width) {
		width: 100%;
		float: none;
	}

	#cover-slider-videos { margin: 0; border-top: none; padding-right: .4rem}
	
	.flex-direction-nav a { overflow: visible; }

	.flex-direction-nav {
		
		.flex-nav-prev {

			.flex-prev {

			}

		}

		.flex-nav-next {

			.flex-next {

			}

		}

	}
	
	.RotatorioVideos-caption {
		padding: .3rem 0;
		position: relative;
		text-align: center;
		background: #C3C3C3;
		margin: -5rem 0 0 0;
	}

	.flex-control-nav {
		position: relative;
		bottom: 0;
		padding-top: 1.35rem;
		padding-bottom: 1rem;
		background: #8A8A8A;
	}
}

.Monero {
	padding: 0 .6rem 0 .5rem;
	float: left;
	width: 33%;
	@media (max-width: $tablet-width) {
		width: 50%;
		padding-right: 0.4rem;
	}
	@media (max-width: $smaller-width) {
		float: none;
		width: 100%;
	}

	.Monero-figure {
		margin: 0;
		line-height: 0;

		img {
			height: 375px;
		}

		.Monero-caption {
			background: #C2C2C2;
			padding: .5rem 0;
			margin-top: -2.55rem;
			position: relative;
			z-index: 1;

			.Monero-botonMas {
				background: #4A4A4A;
				text-align: center;
				width: 80%;
				margin: 0 auto;
				display: block;
				border-radius: 3px;
				color: white;
				font-weight: bold;
			}
		}
	}
}

