/*------------------------------------------------*/
/*------------------[NEWSLETTER]------------------*/
/*------------------------------------------------*/
.Newsletter {
	background: #EAEAEA;
	float: left;
	width: 33%;
}
