/*------------------------------------------------*/
/*------------------[SIDEBAR]---------------------*/
/*------------------------------------------------*/


.Sidebar {
	width: 30%;
	float: left;
	display: block;
	@media (max-width: $tablet-width) {
		width: 100%;
	}
}